version: "3.9"
services:
  backend:
    image: "moit03/moit:latest"
    ports:
      - "80:8080"
    environment:
      - PROD_DB_URL=${PROD_DB_URL}
      - PROD_DB_USERNAME=${PROD_DB_USERNAME}
      - PROD_DB_PASSWORD=${PROD_DB_PASSWORD}
      - PROD_REDIS_URL=${PROD_REDIS_URL}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - NAVER_CLIENT_ID=${NAVER_CLIENT_ID}
      - NAVER_CLIENT_SECRET=${NAVER_CLIENT_SECRET}
      - NAVER_SECURITY_REDIRECT_URI=${NAVER_SECURITY_REDIRECT_URI}
      - NAVER_REDIRECT_URI=${NAVER_REDIRECT_URI}
      - KAKAO_CLIENT_ID=${KAKAO_CLIENT_ID}
      - KAKAO_CLIENT_SECRET=${KAKAO_CLIENT_SECRET}
      - KAKAO_REDIRECT_URI=${KAKAO_REDIRECT_URI}
      - KAKAO_ADMIN_KEY=${KAKAO_ADMIN_KEY}
    restart: "always"
#    volumes:
#      - '/var/log/:/log'

  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'

#  promtail:
#    image: grafana/promtail:latest
#    volumes:
#      - /etc/promtail/promtail.yml:/etc/promtail/promtail.yml  # 호스트 시스템의 설정 파일을 컨테이너 내부에 마운트
#    command: -config.file=/etc/promtail/promtail.yml
#    ports:
#      - "9080:9080"  # Promtail HTTP endpoint
#    restart: unless-stopped